<header>
  <mat-toolbar fxLayout="row" fxLayoutAlign="space-between center">
    <div>
      <a routerLink="/" routerLinkActive="active" class="logo">
        <img src="assets/quix-logo.svg" alt="Quix" height="32" />
      </a>
      <span [style.fontSize.px]="18" class="ms-2 mt-2">TEMPLATES</span>
    </div>
    <button mat-icon-button fxHide.gt-sm (click)="sidenav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <div fxLayout="row wrap" fxHide.lt-md>
      <a mat-raised-button color="primary" class="small me-2"
        [href]="'https://portal.platform.quix.ai/pipeline?workspace=' + workspaceId + '&token=' + ungatedToken"
        target="_blank">
        <div fxLayout="row" fxLayoutAlign="start center">
          <img src="assets/quix.svg" alt="Quix" height="12" class="me-2" />
          <span>Look under the hood</span>
        </div>
      </a>
      <a mat-raised-button color="accent" class="small" fxLayout="row" fxLayoutAlign="center center"
        href="https://github.com/quixio/template-clickstream-front-end" target="_blank">
        <div fxLayout="row" fxLayoutAlign="start center">
          <img src="assets/github.svg" alt="Quix" height="16" class="me-2" />
          <span>View repo</span>
        </div>
      </a>
    </div>
  </mat-toolbar>
</header>
<mat-drawer-container>
  <mat-drawer mode="side" fxLayout="column" fxFlex.xs="100" fxFlex.sm="50" fxFlex.gt-sm="480px"
    [opened]="!media.isActive(['sm', 'xs'])" class="mat-elevation-z4"
      (openedChange)="toggleSidenav($event)" #sidenav>
    <div class="p-5">
      <div class="mb-5">
        <h1 class="mb-1">Clickstream <br> Event Detection</h1>
        <p class="mb-3 text-body text-uppercase">Project template</p>
        <p class="mat-body-1">
          Trigger events such as special offer popups based on real-time analysis of your click behavior.
        </p>
        <div fxLayout="row">
          <a mat-raised-button color="primary" class="small me-2" fxLayout="row" fxLayoutAlign="center center"
            [href]="'https://portal.platform.quix.ai/pipeline?workspace=' + workspaceId + '&token=' + ungatedToken"
            target="_blank">
            <div fxLayout="row" fxLayoutAlign="start center">
              <img src="assets/quix.svg" alt="Quix" height="12" class="me-2" />
              <span class="text-nowrap">Look under the hood</span>
            </div>
          </a>
          <a mat-raised-button color="accent" class="small" fxLayout="row" fxLayoutAlign="center center"
            href="https://github.com/quixio/template-clickstream-front-end" target="_blank">
            <div fxLayout="row" fxLayoutAlign="start center">
              <img src="assets/github.svg" alt="Quix" height="16" class="me-2" />
              <span class="text-nowrap">View repo</span>
            </div>
          </a>
        </div>
      </div>
      <div class="mb-3">
        <h4 class="mb-2 mat-subtitle-2">Select an identity</h4>
        <p class="text-body mb-3">
          Choose a mock demographic profile which will be included in the clickstream analysis.
          <br/>
          <br/>
          List items annotated with an asterisk '*' are part of the target audience for special offers.
        </p>
        <mat-form-field appearance="outline" class="w-100">
          <mat-label>Users</mat-label>
          <mat-select [formControl]="userControl">
            <mat-option *ngFor="let user of users; let i = index" [value]="user">
              User {{ i + 1 }}: {{ user.gender | gender }}, {{ user.birthDate | age }}
              <ng-container *ngIf="user.isTarget"> *</ng-container>
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="mb-5">
        <h4 class="mb-2 mat-subtitle-2">See if you can trigger a special offer</h4>
        <p class="text-body mb-3">
          Depending on your selected demographic profile and your click behavior, you can trigger a special offer popup.
        </p>
      </div>
      <div>
        <h4 class="mb-2 mat-subtitle-2">How the special offer triggers work</h4>
        <div class="text-body">
          <p>In the back end, the
            <a target="_blank"
              [href]="'https://portal.platform.quix.ai/pipeline/deployments/' + deploymentId + '?workspace=' + workspaceId + '&token=' + ungatedToken">
              clickstream analysis service
            </a>
            looks for the following criteria:</p>
          <p>If, in the last 5 minutes, a <i>female between 25-35 or a male between 36 and 45</i>:</p>
          <ol>
            <li>views any item in the <b>clothing</b> category then…</li>
            <li>views any item in the <b>shoes</b> category then…</li>
            <li>views a different item in the <b>clothing</b> category then:</li>
          </ol>
          <ul>
            <li>Show a special offer for that demographic</li>
          </ul>
          <p>Try following this click pattern and see if you can trigger the special offer.</p>
          <p>
            To experiment with your own behavior detection patterns,
            <b>fork this project template</b> and update Python code for the clickstream analysis.
          </p>
          <p>The same code can work on a massive scale with millions of users.</p>
        </div>
      </div>
    </div>
  </mat-drawer>
  <mat-drawer-content class="w-100">
    <div class="h-100">
      <router-outlet></router-outlet>
    </div>
  </mat-drawer-content>
</mat-drawer-container>
