<mat-toolbar fxLayout="row" fxLayoutAlign="center center" class="bg-white border-bottom">
  <span class="cursor-pointer" routerLink="/" (click)="clearSelection()">ACME</span>
  <button mat-icon-button fxHide fxShow.xs [fxShow.sm]="(isMainSidenavOpen$ | async)" fxShow.md
    (click)="sidenav.toggle()" class="position-absolute end-0 me-3">
    <mat-icon>menu</mat-icon>
  </button>
</mat-toolbar>
<mat-drawer-container>
  <mat-drawer mode="side" fxLayout="column" fxFlex.xs="100" fxFlex.sm="50" fxFlex.gt-sm="200px" #sidenav
    [opened]="!media.isActive(['xs', 'md']) && !(media.isActive(['sm']) && (isMainSidenavOpen$ | async))">
    <div class="ps-5 pt-4">
      <div fxLayout="row" fxLayoutAlign="space-between center">
        <p class="fw-bold mt-2">Categories</p>
        <button mat-button class="small text-body" (click)="clearSelection()" *ngIf="formArray.value.includes(true)">
          <div fxLayout="row" fxLayout="start center">
            <mat-icon inline>close</mat-icon>
            <span class="mat-caption">clear</span>
          </div>
        </button>
      </div>
      <form [formGroup]="form">
        <div formArrayName="categories" *ngFor="let control of formArray.controls; let i = index">
          <mat-checkbox [formControl]="control" [disableRipple]="true">
            <span>{{ categories[i] | titlecase }}</span>
          </mat-checkbox>
        </div>
      </form>
    </div>
  </mat-drawer>
  <mat-drawer-content class="w-100">
    <div class="px-5 pt-4">
      <div fxLayout="row wrap" class="me-n3 mb-n3">
        <div
          fxFlex.xs="100"
          [fxFlex.sm]="(isMainSidenavOpen$ | async) ? (sidenav.opened ? 100 : 50) : 25"
          [fxFlex.md]="sidenav.opened ? 50 : 33.33"
          fxFlex.md="25" fxFlex.lg="20" fxFlex.gt-lg="16.66"
          *ngFor="let product of products" class="pe-3 pb-3 cursor-pointer" [routerLink]="product.id">
          <img [src]="'assets/products-sm/' + product.image" [alt]="product.title" class="w-100">
          <div class="mt-2">
            <p class="mb-2 text-body">{{ product.title }}</p>
            <p class="fw-bold">€{{ product.price | number: '1.2-2' }}</p>
          </div>
        </div>
      </div>
    </div>
  </mat-drawer-content>
</mat-drawer-container>
