/* You can add global styles to this file, and also import other style files */
html, body { height: 100%; }
body { margin: 0; }

a {
  color: #0064FF;
  text-decoration: none;
  font-weight: 700;
}

.cursor-pointer{
  cursor: pointer;
}
