<mat-toolbar fxLayout="row" fxLayoutAlign="center center" class="bg-white border-bottom">
  <span class="cursor-pointer" routerLink="/" (click)="clearSelection()">ACME</span>
  <button mat-icon-button class="position-absolute start-0 ms-3 w-auto" routerLink="/">
    <mat-icon fxFlex>arrow_back_ios</mat-icon>
    <span class="mat-body-1">Back</span>
  </button>
</mat-toolbar>
<mat-drawer-container>
  <mat-drawer-content class="w-100">
    <div fxLayout="row" fxLayout.xs="column" fxLayout.md="column"
      [fxLayout.sm]="(isMainSidenavOpen$ | async) ? 'column' : 'row'" fxLayoutAlign="start start"
      fxLayoutGap="50px" fxLayoutGap.lt-lg="32px"
      [ngClass.gt-sm]="'m-5'" *ngIf="product; else notFound"
      class="px-5 pt-4">
      <div fxFlex="50">
        <img [src]="'assets/products/' + product.image" [alt]="product.title" class="w-100">
      </div>
      <div fxLayout="column" [style.maxWidth.px]="400" class="mb-5">
        <p class="mat-caption text-muted mb-1">{{ product.category | titlecase }}</p>
        <h2 class="fw-normal">{{ product.title }}</h2>
        <p>{{ product.description }}</p>
        <p class="mat-h2 fw-bold">€{{ product.price | number: '1.2-2' }}</p>
        <button mat-raised-button color="accent" class="mt-2 rounded-0" [style.height.px]="50">
          <span class="mat-caption text-uppercase">Add to card</span>
        </button>
      </div>
    </div>
  </mat-drawer-content>
</mat-drawer-container>

<ng-template #notFound>
  Not found
</ng-template>
